<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <title>Filter</title>
        <script>
            var app = angular.module('filterApp', []);
            app.controller('filterCtrl', function($scope) {
                var ctrl = this;
                ctrl.currency = 3000;
                ctrl.today = new Date();
                ctrl.number = 5000.2345;
                ctrl.list = [1,2,3,4,5,6,7,8,9,0];
                ctrl.lowercase = 'ABCdEFG1234';
                ctrl.uppercase = 'abcDefg1234';
            });
        </script>
    </head>
    <body>
        <div ng-app="filterApp">
            <div ng-controller="filterCtrl as ctrl">
                <ul class="list-group">
                    <li class="list-group-item">
                        currency: {{ ctrl.currency | currency }}
                    </li>
                    <li class="list-group-item">
                        date: {{ ctrl.today | date }}
                    </li>
                    <li class="list-group-item">
                        number: {{ ctrl.number | number:3 }}
                    </li>
                    <li class="list-group-item">
                        limitTo:
                        <ul>
                            <li class="list-group-item" ng-repeat="v in ctrl.list | limitTo: 5" >
                                {{v}}
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        orderBy:
                        <ul>
                            <li class="list-group-item" ng-repeat="v in ctrl.list | orderBy: $index : true" >
                                {{v}}
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        lowercase: {{ ctrl.lowercase | lowercase }}
                    </li>
                    <li class="list-group-item">
                        uppercase: {{ ctrl.uppercase | uppercase }}
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
